<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_dieyu_frozen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{60,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,45}}</string>
                <key>sourceSize</key>
                <string>{60,45}</string>
            </dict>
            <key>qp_dieyu_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,287},{56,39}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{56,39}}</string>
                <key>sourceSize</key>
                <string>{60,45}</string>
            </dict>
            <key>qp_dieyu_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,87},{58,39}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{58,39}}</string>
                <key>sourceSize</key>
                <string>{60,45}</string>
            </dict>
            <key>qp_dieyu_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,47},{58,39}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{58,39}}</string>
                <key>sourceSize</key>
                <string>{60,45}</string>
            </dict>
            <key>qp_dieyu_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,247},{56,39}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{56,39}}</string>
                <key>sourceSize</key>
                <string>{60,45}</string>
            </dict>
            <key>qp_dieyu_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,207},{56,39}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{56,39}}</string>
                <key>sourceSize</key>
                <string>{60,45}</string>
            </dict>
            <key>qp_dieyu_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,167},{56,39}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{56,39}}</string>
                <key>sourceSize</key>
                <string>{60,45}</string>
            </dict>
            <key>qp_dieyu_move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,127},{56,39}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{56,39}}</string>
                <key>sourceSize</key>
                <string>{60,45}</string>
            </dict>
            <key>qp_dieyu_move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,327},{56,37}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{56,37}}</string>
                <key>sourceSize</key>
                <string>{60,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_dieyu.png</string>
            <key>size</key>
            <string>{62,365}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47fdd82cdc188f3e6e5e6c40dfa05b8a:1/1$</string>
            <key>textureFileName</key>
            <string>qp_dieyu.png</string>
        </dict>
    </dict>
</plist>
