<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_feiyu_frozen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{138,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,92}}</string>
                <key>sourceSize</key>
                <string>{138,92}</string>
            </dict>
            <key>qp_feiyu_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,1},{132,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{132,88}}</string>
                <key>sourceSize</key>
                <string>{138,92}</string>
            </dict>
            <key>qp_feiyu_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,1},{134,84}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{134,84}}</string>
                <key>sourceSize</key>
                <string>{138,92}</string>
            </dict>
            <key>qp_feiyu_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1609,1},{132,82}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{132,82}}</string>
                <key>sourceSize</key>
                <string>{138,92}</string>
            </dict>
            <key>qp_feiyu_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1742,1},{132,80}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{132,80}}</string>
                <key>sourceSize</key>
                <string>{138,92}</string>
            </dict>
            <key>qp_feiyu_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,1},{132,84}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{132,84}}</string>
                <key>sourceSize</key>
                <string>{138,92}</string>
            </dict>
            <key>qp_feiyu_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,1},{134,88}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{134,88}}</string>
                <key>sourceSize</key>
                <string>{138,92}</string>
            </dict>
            <key>qp_feiyu_move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,1},{132,90}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{132,90}}</string>
                <key>sourceSize</key>
                <string>{138,92}</string>
            </dict>
            <key>qp_feiyu_move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,1},{132,90}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{132,90}}</string>
                <key>sourceSize</key>
                <string>{138,92}</string>
            </dict>
            <key>qp_feiyu_move_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1077,1},{132,84}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{132,84}}</string>
                <key>sourceSize</key>
                <string>{138,92}</string>
            </dict>
            <key>qp_feiyu_move_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1476,1},{132,82}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{132,82}}</string>
                <key>sourceSize</key>
                <string>{138,92}</string>
            </dict>
            <key>qp_feiyu_move_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1343,1},{132,82}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{132,82}}</string>
                <key>sourceSize</key>
                <string>{138,92}</string>
            </dict>
            <key>qp_feiyu_move_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,1},{132,84}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{132,84}}</string>
                <key>sourceSize</key>
                <string>{138,92}</string>
            </dict>
            <key>qp_feiyu_move_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1},{134,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{134,88}}</string>
                <key>sourceSize</key>
                <string>{138,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_feiyu.png</string>
            <key>size</key>
            <string>{1875,94}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5a9315138284176dca2ed9c76d9b785:1/1$</string>
            <key>textureFileName</key>
            <string>qp_feiyu.png</string>
        </dict>
    </dict>
</plist>
